<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="myconn" class="com.common.MyConnection">
		<constructor-arg name ="driverName" value = "com.mysql.jdbc.Driver" />
		<constructor-arg name ="url" value = "jdbc:mysql://localhost:3306/loyola_icse" />
		<constructor-arg name ="user" value = "root" />
		<constructor-arg name ="pw" value = "" />
	</bean>
</beans>
